.schoolflex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media(max-width:768px){
    .schoolflex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}